<div class="container">
  <h1>Agency Managment</h1>
  <div class="table-responsive"    style="max-height: 640px; overflow-y: auto; 
  ">
    <table class="table" style="width: 100%; table-layout: auto; 
    ">
      <thead>
        <tr>
          <th>Agency</th>
          <th>Code</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
  
          <tr *ngFor="let agence of agences; let i = index"[ngClass]="{'selected': selectedRowIndex === i}" (click)="selectAgence(agence, i)">

          <td>{{ agence.nom }}</td>
          <td>{{ agence.code }}</td>
          <td>{{ agence.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<br>





<div class="pagination-container">
  <div class="pagination-left" >
    {{ getFirstEntryNumber() }}-{{ getLastEntryNumber() }} / {{ totalRecords }}
  </div>
  <!-- La pagination -->
  <div class="fixed-bottom">
    <div  style="margin-bottom: 18px;">
      <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)" >
      </p-paginator>
    </div>
  </div>
  <div class="pagination-right">
    Page : {{ getFirstEntryNumber() }} / {{ totalRecords }}
  </div>
</div>

  




