<app-navbar></app-navbar>


<h1 class="Tool-search">Upgrade Existing Commercial pack</h1>
<div class="container customer-file">
  
    <div class="form-row">
      <div class="col-md-4">
        <label for="agency">Agency:</label>
      </div>
      <div class="col-md-4">
        <label for="customerName">Customer Name:</label>   
      </div>
      <div class="col-md-4">
        <label for="productName">Product Name:</label>
        <select id="productName" >
        </select>
      </div>
    </div>
  </div>
  <div class="container material-component">
    <h2 class="material-component">Commercial pack </h2>
    <table class="table">
      <thead>
        <tr>
          <th>Product name</th>
          <th>Replaced by</th>
       
         
        </tr>
      </thead>
      <!-- table body content here -->
    </table>
  </div>
  
  
  <div class="container material-component">
    <h2 class="material-component">Material Component</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Product name</th>
          <th>Serial number</th>
          <th>Doublon</th>
          <th>Date code</th>
          <th>Associated licences</th>
         
        </tr>
      </thead>
      <!-- table body content here -->
    </table>
  </div>
  
  <div class="container licence-component">
    <h3 class="licence-component">Licence</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Product name</th>
          <th>Invoice ID</th>
          <th>Subscription Duration</th>
          <th>End date</th>
          <th>Major Version</th>
          
        </tr>
      </thead>
      <!-- table body content here -->
    </table>
    <div class="button-container">
        <button class="btn btn-save" type="button">
          <mat-icon>save</mat-icon> SAVE
        </button>
        <button class="btn btn-cancel" type="button">
          <mat-icon>cancel</mat-icon> CLOSE
        </button>
      </div>
 

