$primary-color: #686A6D;

.Tool-search {
  color: $primary-color;
  font-weight: normal;
  font-size: 1.4rem;
  margin-right: 470px;
  margin-bottom: -10px;
  position: relative;
  padding-bottom: 5px;

  &::after {
    content: '';
    display: block;
    width: 50%;
    border-bottom: 2px solid $primary-color;
    position: absolute;
    bottom: 0;
  }
}

.container {
  max-width: 1425px;
  margin: 30px auto;
  padding: 15px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-container {
  margin-bottom: 50px;
}

.option-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.option-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.option-item label {
  font-size: 1rem;
  color: $primary-color;
  min-width: 150px; /* Set a consistent width for all labels */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: auto;
  padding: 1rem;
  border-radius: 5px;
}

.btn {
  background-color: #546472;
  color: white;
  font-size: 10px;
  padding: 6px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #DFD3D3;
  }
}

.btn-save {
  background-color: #BDD248;
}

.btn-cancel {
  background-color: #546472;
}

.mat-icon {
  font-size: 18px;
  margin-right: 5px;
}

.table-responsive {
  max-height: 370px;
  overflow-y: auto;
}

.table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #F2F2F2;
  padding: 8px;
}

.table th {
  background-color: #F2F2F2;
  text-align: left;
  color: $primary-color; /* Sets the header text color */
}

.confirm-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.confirm-modal-content p {
  margin-bottom: 10px;
}

.confirm-modal-content .button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.confirm-modal-content button {
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-modal-content button:hover {
  background-color: #DFD3D3;
}
.list-container {
  margin-bottom: 50px; /* Adds distance between the two main containers */
}
.list1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #686A6D; /* Sets the text and label colors */
}
.list1 label {
  margin-right: 10px;
  font-weight: bold;
  font-weight: 20px;
}
.list1 select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px; /* Adjusts the width of the dropdown lists */
}