.Stand-by-incidents-list {
    color: #686A6D;
    font-weight: normal;
    font-size: 1.4rem;
    margin-right: 470px;
    margin-bottom: -10px;
    position: relative;
  }
  .line {
    height: 1px;
    width: 50%;
    background-color: #686A6D;
    margin-top: 5px;
    display: block;
  }
  .Stand-by-incidents-list::after {
    content: "";
    height: 2px;
    width: 50%;
    background-color: #686A6D;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  .container {
    max-width: 1525px;
    margin: 30px auto;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds distance between the elements inside the container */
  }
  .total {
    margin-top: 20px;
    font-weight: bold;
    color: #686A6D; /* Sets the color of the total text */
  }
  .table-responsive {
    max-height: 370px;
    overflow-y: auto;
  }
  .table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
  }
  .table th, .table td {
    border: 1px solid #F2F2F2;
    padding: 8px;
  }
  .table th {
    background-color: #F2F2F2;
    text-align: left;
    color: #686A6D; /* Sets the header text color */
  }
  /* Individual column widths */
  .table th:nth-child(1), .table td:nth-child(1) {
    width: 10%; /* Adjust as needed */
  }
  .table th:nth-child(2), .table td:nth-child(2) {
    width: 15%; /* Adjust as needed */
  }
  .table th:nth-child(3), .table td:nth-child(3) {
    width: 30%; /* Adjust as needed */
  }
  .table th:nth-child(4), .table td:nth-child(4) {
    width: 20%; /* Adjust as needed */
  }
  .table th:nth-child(5), .table td:nth-child(5) {
    width: 15%; /* Adjust as needed */
  }
  .table th:nth-child(6), .table td:nth-child(6) {
    width: 10%; /* Adjust as needed */
  }
  
 
  
  
  
  
  
  
  
  
  