.container {
  max-width: 850px;
 
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}
.search-container {
  position: relative;
}
.search-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 20px;
  padding-left: 30px;
  outline: none;
}
.search-input:focus {
  border-color: #A5EBEE;
}
.material-icons {
  position: absolute;
  left: 10px;
  top: 33%;
  transform: translateY(-50%);
  color: #888;
}

  h1 {
    color: #686a6d;
    font-weight: normal;
    font-size: 1.8rem;
  }
  .table-responsive tr.selected {
    background-color: #cfe5fa;
    border-left: 0.5em solid #bdd248;
  }
  
  .buttons {
    margin-bottom: 20px;
  }
  
  .alert-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .alert {
    background-color: #d1ecf1;
    color: #0c5460;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .table th {
    font-weight: bold;
    color: #686a6d;
  }
  .table td {
  font-weight: normal;
  color: #686a6d;
}




.table td,
.table th {
    font-size: 0.8rem; 
}

  .table td,
  .table th {
    vertical-align: middle;
  }
  
  .badge {
    font-size: 0.8rem;
  }
  
  .item-count {
    margin-top: 20px;
  }
  

  .pagination-container {
    display: flex;
    flex-direction: column;
   position: fixed;
   
    bottom: 0;
    width: 100%;
  }

  .pagination-left,
  .pagination-right {
    bottom: 0;
    color: #686A6D;
    font-weight: normal;
    font-size: 0.8rem;
  }
  .pagination-left {
    bottom: 0;
    text-align: left;
    margin-right: 35px;
    margin-top: -50px;
  }
  .pagination-right {
    margin-right: 1070px;
    text-align: right;
    bottom: 0;
    margin-top: -26px;
  }

  .fixed-bottom {
    position: fixed;
    left: 50;
    margin-top: -50px;
    max-width: 28.4%;
    margin-left: 200px;
  }
