.container {
  text-align: left; /* Align the container to the left */
  ul {
    padding-left: 0; /* Remove the default padding from the list */
    li {
      text-align: left; /* Align the list items to the left */
    }
  }
}

.container img {
  display: block;
  margin: 0 auto; /* Add this line to center the image */
  width: 100%; /* Set the width to 100% to make the image responsive */
  height: auto; /* Set the height to auto to maintain the aspect ratio */
}

.mat-icon.icon {
  font-size: 26px;
  vertical-align: middle;
}

.custom-button:hover {
  background-color: #b30000;
}

.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.custom-button {
  background-color: #ff0033;
  color: white;
  border: none;
  border-radius: 80%;
  padding: 0;
  width: 80px;
  height: 80px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}