<head>
	<title>ACTIA Sales and Aftersales Website</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			text-align: center;
		}
		h1 {
			color: #BDD248 ; 
		}
	</style>
</head>
<body>
	<app-navbar></app-navbar>
	<br>
	<br>

	<div class="container">
        <h1>Welcome to the new ACTIA Sales and Aftersales website</h1>
        <p>specially designed for ACTIA Group and its agents.</p>
        <br>
        <hr>
        <h2>Manage your business with ease</h2>
        <ul>
          <li>Manage your dealers</li>
          <li>Manage their tools and your local security stock</li>
          <li>Manage the incidents by registering the problems and following their evolutions</li>
          <li>Keep the contact with your dealers by tracking the tools transports</li>
          <li>Get real-time activity reports and communication with ACTIA</li>
        </ul>
        <p>Please send requests and remarks about the website to <a href="mailto:support.websav@actia.fr">support.websavactia.fr</a></p>
        <img src="https://media.licdn.com/dms/image/C561BAQGE7UfKvohV3g/company-background_10000/0/1587107600145/actia_cover?e=2147483647&v=beta&t=epncHmlzanaoznxk5equiW5pnM1FHopCwPBg_Z7c740" alt="ACTIA logo">
      </div>