<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <div class="navbar-brand-logo">
      <img src="../../../../../assets/logo-actia.png" />
    </div>
  </a>

  <button type="button" class="navbar-toggler collapsed" aria-expanded="false"></button>

  <div class="collapse navbar-collapse align-items-stretch">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center">
          <mat-icon>home</mat-icon>
          <span class="hidden-md hidden-sm" [routerLink]="['/acceuil']">Home</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link d-flex align-items-center dropdown-toggle" href="#" id="navbarDropdownParc" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <mat-icon>contact_support</mat-icon>
          Hot Line
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownParc">
          <li>
            <a class="dropdown-item" href="#" [routerLink]="['/unifiedsearch']">
              <mat-icon>search</mat-icon>
              Unified search
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#" [routerLink]="['/searchdoubles']">
              <mat-icon>search_off</mat-icon>
              Search serial number doubles
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#" [routerLink]="['/standby']">
              <mat-icon>pending_actions</mat-icon>
              Stand by incident list
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link d-flex align-items-center dropdown-toggle" href="#" id="navbarDropdownDevis" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <mat-icon>receipt_long</mat-icon>
          Sales
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownDevis">
          <li>
            <a class="dropdown-item" href="#">
              <mat-icon>done</mat-icon>
              Validate Sales
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/unifiedsearch">
              <mat-icon>person_add</mat-icon>
              Add a new customer
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/unifiedsearch">
              <mat-icon>search</mat-icon>
              Search a customer
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/salescontract">
              <mat-icon>shopping_cart</mat-icon>
              Make a new sale
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link d-flex align-items-center dropdown-toggle" href="#" id="navbarDropdownAlertes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <mat-icon>inventory_2</mat-icon>
          Local Stock
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownAlertes">
          <li>
            <a class="dropdown-item" href="#">
              <mat-icon>list</mat-icon>
              Stock-list
            </a>
          </li>
        
          <li>
            <a class="dropdown-item" href="#">
              <mat-icon>search</mat-icon>
              Search a tool
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/searchdoubles">
              <mat-icon>find_in_page</mat-icon>
              Search serial number doubles
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link d-flex align-items-center dropdown-toggle" href="#" id="navbarDropdownDevis" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <mat-icon>build</mat-icon>
          Repair
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownDevis">
          <li>
            <a class="dropdown-item" href="/repairstocklist">
              <mat-icon>build_circle</mat-icon>
              Repair stock-list
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/standby">
              <mat-icon>pending_actions</mat-icon>
              Stand-by incidents list
            </a>
          </li>
       
          <li>
            <a class="dropdown-item" href="/unifiedsearch">
              <mat-icon>search</mat-icon>
              Search a tool
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/unifiedsearch">
              <mat-icon>assignment</mat-icon>
              Search an incident file
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link d-flex align-items-center dropdown-toggle" href="#" id="navbarDropdownParc" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <mat-icon>admin_panel_settings</mat-icon>
          Administration
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownParc">
          <li>
            <a class="dropdown-item" href="#" [routerLink]="['/listUser']">
              <mat-icon>group</mat-icon>
              Users Management
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#" [routerLink]="['/agences']">
              <mat-icon>business</mat-icon>
              Agency Management
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#" [routerLink]="['/setup']">
              <mat-icon>settings</mat-icon>
              Setup Management
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link d-flex align-items-center dropdown-toggle" href="#" id="navbarDropdownParc" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <mat-icon>account_circle</mat-icon>
          {{ currentUser.nom }} {{ currentUser.prenom }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownParc">
          <li>
            <a class="dropdown-item" href="#" [routerLink]="['/ProfilUser']">
              <mat-icon>account_circle</mat-icon>
              Profil
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#" [routerLink]="['/password']">
              <mat-icon>lock</mat-icon>
              Password
            </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
