$primary-color: #686A6D;
$accent-color: #BDD248;
$focus-border-color: #A5EBEE;

.Tool-search {
  color: $primary-color;
  font-weight: normal;
  font-size: 1.4rem;
  margin-right: 470px;
  margin-bottom: -10px;
  position: relative;
  padding-bottom: 5px;

  &::after {
    content: '';
    display: block;
    width: 50%;
    border-bottom: 2px solid $primary-color;
    position: absolute;
    bottom: 0;
  }
}

.container {
  max-width: 1425px;
  margin: 30px auto;
  padding: 15px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-container {
  margin-bottom: 50px;
}

.option-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.option-item {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.option-item label {
  font-size: 1rem;
  color: $primary-color;
  min-width: 150px; /* Set a consistent width for all labels */
}

.option-item input[type="text"],
.option-item select {
  width: 200px; /* Set a fixed width for inputs and selects */
  padding: 5px; /* Reduce padding to make input fields smaller */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.8rem; /* Smaller font size */
  color: $primary-color; // Use primary color for text input
  transition: border-color 0.3s, border-width 0.3s; /* Added transition for smooth effect */
}

input::placeholder {
  color: #aaa;
}

input:focus,
select:focus {
  border-color: $focus-border-color; /* Updated border color on focus */
  border-width: 5px; /* Thicker border on focus */
  outline: none; /* Remove default focus outline */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: auto;
  padding: 1rem;
  border-radius: 5px;
}

.btn {
  background-color: #546472;
  color: white;
  font-size: 10px;
  padding: 6px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #DFD3D3;
  }
}


