$primary-color: #686A6D;

.customer-file {
  color: $primary-color;
  font-weight: normal;
  font-size: 1.4rem;
  margin-right: 470px;
  margin-bottom: -10px;
  position: relative;
  padding-bottom: 5px;

  &::after {
    content: '';
    display: block;
    width: 50%; // Adjust the width as needed to make the line shorter
    border-bottom: 2px solid $primary-color;
    position: absolute;
    bottom: 0;
  }
}
.confirm-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.confirm-modal-content p {
  margin-bottom: 10px;
}

.confirm-modal-content .button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.confirm-modal-content button {
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-modal-content button:hover {
  background-color: #DFD3D3;
}




.container {
    max-width: 1525px;
    margin: 20px auto;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .form-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  
  
    label {
      color: #686A6D;
      font-weight: bold;
      font-size: 0.9rem;
      flex-basis: 20%;
      margin-right: 10px;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 0.9rem;
      width: 350px;
    }
  
    .company-address {
      .form-row {
        margin-bottom: 0;
      }
    }
  
    input::placeholder {
      color: #aaa;
    }
  
    input:focus,
    select:focus {
      border-color: #A5EBEE;
    }
  
    .form-check-input {
      margin-top: 0.3rem;
      margin-right: 0.5rem;
      cursor: pointer;
    }
  
    .form-check-label {
      cursor: pointer;
    }
  
    button {
      padding: 6px 12px;
      font-size: 0.9rem;
      border-radius: 5px;
     
      color: #fff;
      border: none;
      margin-right: 10px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #C5C7CA;
    }
  
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      height: 100px;
      resize: none;
    }
  
    .btn-primary {
      background-color: #BDD248;
    }
  
    .btn-primary:hover {
      background-color: #CFE5FA;
    }
  
    .btn-secondary {
      background-color: #546472;
    }
  
    .btn-secondary:hover {
      background-color: #DFD3D3;
    }
  
    .btn-danger {
      background-color: #EC6A6A;
    }
  
    .btn-danger:hover {
      background-color: #FF8D8D;
    }
  }
    .alert,
    .alert-error {
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      font-size: 0.9rem;
    }
    .alert {
      background-color: #D1ECF1;
      color: #0C5460;
    }
    .alert-error {
      background-color: #F8D7DA;
      color: #721C24;
    }
    /* Additional styles for material icons if used */
    .material-icons {
      font-size: 18px;
      vertical-align: middle;
      color: #888;
    }
    
  
  
  .search-container {
    position: relative;
    margin-bottom: 20px;
    .search-input {
      width: 100%;
      padding: 5px 30px 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 12px;
      outline: none;
      &:focus {
        border-color: #A5EBEE;
      }
    }
    .material-icons {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #888;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    .btn {
      background-color: #546472;
      color: white;
      font-size: 13px;
      padding: 6px 12px;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
      &:hover {
        background-color: #DFD3D3;
      }
    }
  }

  .btn.btn-renew-licence{  
    background-color: white; /* Change to desired background color */
    color:#686A6D;

  }
  
  .table {
    font-size: 14px;
    border-color: #FFFCFC;
  }
  .table thead th {
    color: #686A6D;
    font-weight: bold;
  }
  .table tbody tr:hover {
    background-color: #FFFDFD;
  }
  .table tfoot th {
    background-color: #686A6D;
    color: #686A6D;
    font-weight: bold;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    gap: 0px;
  }
  .material-symbols-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
  }
  .btn {
    color: white;
    font-size: 10px;
    padding: 2px 6px; /* Adjust padding to make the button smaller */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px; /* Add margin to create space between the button and label */
  }
  .btn:hover {
    background-color: #DFD3D3;
  }
  .btn-save {
    background-color: #BDD248;
  }
  .btn-cancel {
    background-color: #546472;
  }
  .btn-new {
    background-color: #546472;
  }

  .container {
    max-width: 1525px;
    margin: 20px auto;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  
  .btn-label {
    display: flex;
    align-items: center;
  }
  
  .btn-icon {
    padding: 0;
    margin-right: 5px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .btn-icon:focus {
    outline: none;
  }
  
  
  $font-family-base: "Open Sans", "Arial";
.Stock-list {
    color: #686A6D;
    font-weight: normal;
    font-size: 1.4rem;
    margin-right: 470px;
    margin-bottom: -10px;
    position: relative;
    display: inline-block; /* Ensures underline spans the text width */
  }
  
  .Stock-list::after {
    content: "";
    height: 2px;
    width: 800%;
    background-color: #686A6D;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  .toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;

    .toggle-icon {
      font-size: 1.2rem;
      margin-right: 5px;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    gap: 0px;
  }
 
  
  .button-container1 {
    display: flex;
  
    align-items: flex-start;
  }
  
  .btn1 {
    background-color: white;
  
    display: flex;
    align-items: center;
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px; /* Increased gap between buttons */
    margin-left: 70px ;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s; /* Optional: smooth background color transition */
  }
  
  .btn1:hover {
    background-color: #f1f1f1; /* Optional: add a hover effect */
  }
  
  .btn1:focus {
    outline: none;
  }
  
  .mat-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .icon-newpack, .icon-add-elements, .icon-upgrade-pack, .icon-renew-licence {
    color: #686A6D ;
  }
  
  .label-newpack, .label-add-elements, .label-upgrade-pack, .label-renew-licence {
    color: #686A6D;
  }
  .confirm-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirm-modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  .confirm-modal-content p {
    margin-bottom: 10px;
  }
  
  .confirm-modal-content .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .confirm-modal-content button {
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-modal-content button:hover {
    background-color: #DFD3D3;
  }