<app-navbar></app-navbar>
<h1 class="customer-file">Customer File</h1>
<div class="container mt-4">
  <div class="card1">
    <div class="card-body button-container1">
      <button class="btn1 btn-newpack" routerLink="/salescontract">
        <mat-icon class="icon-newpack">note_add</mat-icon>
        <span class="label-newpack">make a new sale</span>
      </button>
      <button class="btn1 btn-add-elements" (click)="openMovePackModal()">
        <mat-icon class="icon-add-elements">publish</mat-icon>
        <span class="label-add-elements">move pack here</span>
      </button>
      <button class="btn1 btn-upgrade-pack"(click)="openTrashPackModal()">
        <mat-icon class="icon-upgrade-pack">delete_sweep</mat-icon>
        <span class="label-upgrade-pack">Trash pack</span>
      </button>
      <button class="btn1 btn-renew-licence" (click)="openPackFusionModal()">
        <mat-icon class="icon-renew-licence">dns</mat-icon>
        <span class="label-renew-licence">pack fusion</span>
      </button>
      <button class="btn1 btn-renew-licence" routerLink="/toolhistory">
        <mat-icon class="icon-renew-licence" >history</mat-icon>
        <span class="label-renew-licence">Tool history</span>
      </button>
      <button class="btn1 btn-renew-licence" routerLink="/incidentfile">
        <mat-icon class="icon-renew-licence">report_problem</mat-icon>
        <span class="label-renew-licence">Add a new incident</span>
      </button>
    </div>
  </div>
</div>





<div class="container mt-4">
  <form>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="actiaCustomerId">Actia Customer ID</label>
        <input type="text" class="form-control" id="actiaCustomerId" placeholder="MFRA18850">
      </div>
      <div class="col-md-4 mb-3">
        <label for="agentCustomerId">Agent Customer ID</label>
        <input type="text" class="form-control" id="agentCustomerId" placeholder="AD COSAC">
      </div>
      <div class="col-md-4 mb-3">
        <label for="customerStatus">Customer status</label>
        <select class="form-control" id="customerStatus">
          <option>Select an element</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="agency">Agency</label>
        <input type="text" class="form-control" id="agency" placeholder="ACTIA hotline">
      </div>
      <div class="col-md-4 mb-3">
        <label for="distributorCategory">Distributor Category</label>
        <select class="form-control" id="distributorCategory">
          <option>All elements</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="network">Network</label>
        <select class="form-control" id="network">
          <option>ADMINISTRATION</option>
        </select>
      </div>
    </div>

    <!-- Toggle button for showing/hiding company details -->
    <div class="toggle-button" (click)="toggleCompanyDetails()">
      <span class="toggle-icon">{{ showCompanyDetails ? '-' : '+' }}</span>
    </div>

    <!-- Company details form fields -->
    <div class="form-row">
      <div class="col-md-4 mb-3" [hidden]="!showCompanyDetails">
        <label for="companyName" class="form-label">
          <span>Company name *</span>
          <div class="toggle-label">
            
          </div>
        </label>
        <input type="text" class="form-control" id="companyName" required>
      </div>
      <div class="col-md-4 mb-3" [hidden]="!showCompanyDetails">
        <label for="address" class="form-label">
          <span>Address *</span>
          <div class="toggle-label">
           
          </div>
        </label>
        <input type="text" class="form-control" id="address" required>
      </div>
      <div class="col-md-4 mb-3" [hidden]="!showCompanyDetails">
        <label for="zipCode" class="form-label">
          <span>Zip code *</span>
          <div class="toggle-label">
      
          </div>
        </label>
        <input type="text" class="form-control" id="zipCode" required>
      </div>
    </div>
    <div class="form-row" [hidden]="!showCompanyDetails">
      <div class="col-md-4 mb-3">
        <label for="city">City *</label>
        <input type="text" class="form-control" id="city" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="country">Country *</label>
        <select class="form-control" id="country" required>
          <option>France</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="language">Language</label>
        <select class="form-control" id="language">
          <option>French</option>
        </select>
      </div>
    </div>
    <div class="form-row" [hidden]="!showCompanyDetails">
      <div class="col-md-4 mb-3">
        <label for="email">E-mail *</label>
        <input type="email" class="form-control" id="email" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="contactName">Contact name *</label>
        <input type="text" class="form-control" id="contactName" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="phoneNumber">Phone number *</label>
        <input type="tel" class="form-control" id="phoneNumber" required>
      </div>
    </div>
    <div class="form-row" [hidden]="!showCompanyDetails">
      <div class="col-md-4 mb-3">
        <label for="mobileNumber">Mobile number</label>
        <input type="tel" class="form-control" id="mobileNumber">
      </div>
      <div class="col-md-4 mb-3">
        <label for="faxNumber">Fax number *</label>
        <input type="text" class="form-control" id="faxNumber" required>
      </div>
      <div class="col-md-4 mb-3 align-self-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="acceptedEULA">
          <label class="form-check-label" for="acceptedEULA"> Accepted EULA </label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3" [hidden]="!showCompanyDetails">
        <label for="note" class="form-label">
          <span>Note</span>
          <div class="toggle-label">
           
          </div>
        </label>
        <textarea id="note" class="form-control"></textarea>
      </div>
    </div>
    <div class="button-container">
      <button class="btn btn-save" type="button" style="background-color: #BDD248; color: white;" (click)="openSaveConfirmation()">
        <mat-icon style="color: white;">save</mat-icon> SAVE
      </button>
      <button class="btn btn-cancel" type="button"  (click)="openCancelConfirmation()">
        <mat-icon style="color: white;">cancel</mat-icon> CLOSE
      </button>
    </div>
  </form>
</div>
<div class="container mt-4">
  <div class="table-container">
     

<!-- Confirmation Modals -->
<div *ngIf="showCancelConfirmation" class="confirm-modal">
  <div class="confirm-modal-content">
    <p>Are you sure you want to cancel?</p>
    <div class="button-container">
      <button class="btn btn-save" (click)="closeCancelConfirmed()">Yes</button>
      <button class="btn btn-cancel" (click)="cancelCancelClose()">No</button>
    </div>
  </div>
</div>

<div *ngIf="showSaveConfirmation" class="confirm-modal">
  <div class="confirm-modal-content">
    <p>Are you sure you want to save?</p>
    <div class="button-container">
      <button class="btn btn-save" (click)="closeSaveConfirmed()">Yes</button>
      <button class="btn btn-cancel" (click)="cancelSaveClose()">No</button>
    </div>
  </div>
</div>

<!-- Move Pack Confirmation Modal -->
<div *ngIf="showMovePackModal" class="confirm-modal">
  <div class="confirm-modal-content">
    <p>Enter the pack name to move:</p>
    <input type="text" [(ngModel)]="packName" class="form-control" placeholder="Pack Name">
    <div class="button-container">
      <button class="btn btn-save" (click)="confirmMovePack()">Confirm</button>
      <button class="btn btn-cancel" (click)="closeMovePackModal()">Cancel</button>
    </div>
  </div>
</div>
<!-- Trash Pack Confirmation Modal -->
<div *ngIf="showTrashPackModal" class="confirm-modal">
  <div class="confirm-modal-content">
    <p>Enter the pack name to trash:</p>
    <input type="text" [(ngModel)]="packName" class="form-control" placeholder="Pack Name">
    <div class="button-container">
      <button class="btn btn-save" (click)="confirmTrashPack()">Yes</button>
      <button class="btn btn-cancel" (click)="closeTrashPackModal()">No</button>
    </div>
  </div>
</div>

<!-- Pack Fusion Confirmation Modal -->
<div *ngIf="showPackFusionModal" class="confirm-modal">
  <div class="confirm-modal-content">
    <p>Enter the names of the two packs to fuse:</p>
    <div class="form-group">
      <label for="packName1">Pack 1 Name:</label>
      <input type="text" class="form-control" id="packName1" [(ngModel)]="packName1">
    </div>
    <div class="form-group">
      <label for="packName2">Pack 2 Name:</label>
      <input type="text" class="form-control" id="packName2" [(ngModel)]="packName2">
    </div>
    <div class="button-container">
      <button class="btn btn-save" (click)="confirmPackFusion()">Fuse Packs</button>
      <button class="btn btn-cancel" (click)="closePackFusionModal()">Cancel</button>
    </div>
  </div>
</div>