<app-navbar></app-navbar>


<h1 class="Tool-search">New commercial pack</h1>

<div class="container list-container">
  <div class="list1">
    <div class="option-row">
      <div class="option-item">
        <div class="option-item">
            <label for="productNumber">Agency</label>
            <input type="text" id="productNumber" name="productNumber">
          </div>
          <div class="option-item">
            <label for="productNumber">Customer Name </label>
            <input type="text" id="productNumber" name="productNumber">
          </div>
        <label for="productName">Product Name:</label>
        <select id="productName">
          <option value="">All elements</option>
          <option value="Product Name 1">Product Name 1</option>
          <option value="Product Name 2">Product Name 2</option>
          <option value="Product Name 3">Product Name 3</option>
        </select>
      </div>
      
    </div>
  
