.page__content {
  display: flex;
  padding: 1rem;
  height: 96vh;
}
.left-panel,
.right-panel {
  flex: 1;
  padding: 1rem;
  overflow: auto;
  border: 3px solid #F8FBFF;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.left-panel {
  margin-right: 30px;
}
h1 {
  color: #686A6D;
  font-weight: normal;
  font-size: 1.6rem;
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  gap: 0px;
}
.material-symbols-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.btn {
  color: white;
  font-size: 13px;
  padding: 6px 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: #DFD3D3;
}
.btn-save {
  background-color: #BDD248;
}
.btn-cancel {
  background-color: #546472;
}
.btn-new {
  background-color: #546472 ;
}
.btn-delete {
  background-color: #90969D;
}
.mat-icon {
  font-size: 18px;
  margin-right: 5px;
}







