<div class="search-options" matlab-table>
  <div class="option-item">
    <input type="radio" name="option" id="customerID" (change)="toggleField('customerID')">
    <label for="customerID" class="code-label">File id:</label>
    <input type="text" [disabled]="!iscustomerIDSelected" (click)="handleClick($event)">
  </div>
  <div class="option-item">
    <input type="radio" name="option" id="customerE-mail" (change)="toggleField('customerE-mail')">
    <label for="customerE-mail" class="code-label">License plate:</label>
    <input type="text" [disabled]="!iscustomerEmailSelected" (click)="handleClick($event)">
  </div>
  <div class="option-item">
    <input type="radio" name="option" id="contractNumber" (change)="toggleField('contractNumber')">
    <label for="contractNumber" class="code-label">by customer reference:</label>
    <input type="text" [disabled]="!iscontractNumberSelected" (click)="handleClick($event)">
  </div>
</div>
