
  
  .modal-header {

   
  }
  
.modal-body{
  color: #686a6d;
  font-weight: normal;
  font-size: 0.9rem;
}

  
.modal-title{
  color: #686a6d;
  font-weight: normal;
  font-size: 1.1rem;

}



.modal-header {
  padding-bottom: 0.5rem; 
}

.modal-body {
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
}

.modal-footer {
  padding-top: 0.5rem; 
}