<div class="search-options" matlab-table>
  <div class="option-item">
    <input type="radio" name="option" id="ProductName" [(ngModel)]="customerID" (change)="toggleField('customerID')">
    <label for="ProductName" class="code-label">Product name:</label>
    <select [disabled]="isSelectDisabled" (click)="handleClick($event)">
      <option value="option1">all element</option>
      <option value="option2">2</option>
      <option value="option3">3</option>
    </select>
  </div>
</div>
<div class="option-item">
  <label for="SerialNumber" class="code-label">Serial number:</label>
  <input type="text">
</div>
<!-- Search Results -->
<div class="container">
  <div class="table-responsive" style="max-height: 370px; overflow-y: auto;">
    <table class="table striped-table" style="width: 100%; table-layout: auto;">
      <thead>
        <tr class="first-line-background">
          <th>Product name</th>
          <th>Serial number</th>
          <th>Date code</th>
          <th>VCI serial number</th>
          <th>Setup date</th>
          <th>Under warranty</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="card flex justify-content-center">
</div>
