<app-navbar></app-navbar>
<h1 class="Stand-by-incidents-list">Stand-by incidents list</h1>
<div class="container table-container">
    <div class="table-responsive">
      <table class="table striped-table">
        <thead>
          <tr class="first-line-background">
            <th> Incident id</th>
            <th>Call date</th>
            <th>Problem description</th>
            <th>Hotliner action</th>
            <th>Result</th>
            <th>Incident type</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>