<app-navbar></app-navbar>
<h1 class="Stand-by-incidents-list">Stand-by incidents list</h1>
<br>
<br>
<div class="container table-container">
    <div class="table-responsive">
      <table class="table striped-table">
        <thead>
          <tr class="first-line-background">
            <th> Incident id</th>
            <th>Call date</th>
            <th>Problem description</th>
            <th>Hotliner action</th>
            <th>Result</th>
            <th>Incident type</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>INCIDENT 1</td>
              <td>22/11/2024</td>
              <td>The tool has communication problems between the VCI and the car ECU.</td>
              <td>Exchange</td>
              <td>Stand by </td>
              <td>Vehicle incident</td>
            </tr>
            <tr>
                <td>INCIDENT 1</td>
                <td>22/11/2024</td>
                <td>The tool has communication problems between the VCI and the car ECU.</td>
                <td>Exchange</td>
                <td>Stand by </td>
                <td>Vehicle incident</td>
              </tr>
              <tr>
                <td>INCIDENT 1</td>
                <td>22/11/2024</td>
                <td>The tool has communication problems between the VCI and the car ECU.</td>
                <td>Exchange</td>
                <td>Stand by </td>
                <td>Vehicle incident</td>
              </tr>
              <tr>
                <td>INCIDENT 1</td>
                <td>22/11/2024</td>
                <td>The tool has communication problems between the VCI and the car ECU.</td>
                <td>Exchange</td>
                <td>Stand by </td>
                <td>Vehicle incident</td>
              </tr>
              <tr>
                <td>INCIDENT 1</td>
                <td>22/11/2024</td>
                <td>The tool has communication problems between the VCI and the car ECU.</td>
                <td>Exchange</td>
                <td>Stand by </td>
                <td>Vehicle incident</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>