

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 600px; 
}

h3{

  color: #686a6d;
  font-weight: normal;
  font-size: 1rem;
}

.is-valid {
  border-color: #28a745 !important; 
  border-left: 0.5em solid #087441;
}

.is-invalid {
  border-color: #dc3545 !important; 
  border-left: 0.5em solid  #dc3545 
}

.btn-success:hover {
  color: white;
}
.body{
  background: rgb(248, 248, 248);

}