$primary-color: #686A6D;

.customer-file1 {
  color: $primary-color;
  font-weight: normal;
  font-size: 1.4rem;
  margin-right: 470px;
  margin-bottom: -10px;
  position: relative;
  padding-bottom: 5px;

  &::after {
    content: '';
    display: block;
    width: 50%; // Adjust the width as needed to make the line shorter
    border-bottom: 2px solid $primary-color;
    position: absolute;
    bottom: 0;
  }
}