$font-family-base: "Open Sans", "Arial";

.container 
{   max-width: 2000px;
    margin: 20px auto; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); } 


.button-container
 {  display: flex; 
    justify-content: flex-end; 
    gap: 10px; } 
    

.btn 
{   padding: 6px 10px; 
    font-size: 12px; 
    border-radius: 5px; } 
    

.btn-warning 
{   background-color: #A6D651; 
    color: #ffffff; } 

.btn1-warning 
    {   background-color:#546472;
        color: #ffffff; } 
    
.btn:hover 
{   opacity: 0.8; } 


label 
{   font-size: 0.8rem;
    font-weight: bold; 
    color: #686a6d; 
    margin-bottom: 10px; 
    display: inline-grid ; 
    width: 220px ; } 
 
    
select 
{   height: 35px; 
    padding: 5px; 
    font-size: 14px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    width: 150px; } 
    
    
.table-responsive { 
    max-height: 370px;
    overflow-y: auto; }
     

.table { 
    width: 500%; 
    table-layout: auto; } 
    

.striped-table {
     thead tr { background-color: #e0e0e0; } }
     

     
th { font-weight: bold;
     color: #686a6d; 
     padding: 10px; 
     text-align: left; 
     border-bottom: 1px solid #ccc; } 
     

     
td { color: #686a6d; 
    padding: 10px; border-bottom: 
    1px solid #ccc; }
