$font-family-base: "Open Sans", "Arial";

.container {
    max-width: 1525px;
    margin: 20px auto;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}
  

