<app-navbar></app-navbar>

<div class="container">
  <h3 class="sales-contract">Sale's Contract</h3>
  <div class="line"></div>
  <div class="contract-container">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row align-items-end mb-3">
          <div class="col">
            <div class="label-input-container">
              <label for="creationDate">Creation date:</label>
              <input type="date" id="creationDate" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="label-input-container">
              <label for="username">Username:</label>
              <input (click)="handleClick($event)" type="text" id="username" class="form-control">
            </div>
          </div>
          <div>
            <button class="btn btn-save" (click)="validateContract()">
              <mat-icon>done</mat-icon> VALIDATE
            </button>
            <button class="btn btn-cancel" (click)="showCancelConfirmation = true">
              <mat-icon>cancel</mat-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="customer-info-container">
    <h3 class="sales-contract">Customer information:</h3>
    <div class="line"></div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="label-input-container">
              <label for="companyName">Company name:</label>
              <input (click)="handleClick($event)" type="text" id="companyName" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="label-input-container">
              <label for="contactName">Contact name:</label>
              <input (click)="handleClick($event)" type="text" id="contactName" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="label-input-container">
              <label for="zipCode">Zip code:</label>
              <input (click)="handleClick($event)" id="zipCode" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="label-input-container">
              <label for="phone">Phone number:</label>
              <input (click)="handleClick($event)" type="tel" id="phone" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="label-input-container">
              <label for="country">Country:</label>
              <input (click)="handleClick($event)" type="text" id="country" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="label-input-container">
              <label for="email">E-mail:</label>
              <input (click)="handleClick($event)" type="email" id="email" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="empty-container">
    <div class="card">
      <div class="card-body">
        <button class="btn btn-action" routerLink="/newcommpack"><mat-icon>note_add</mat-icon> New Pack</button>
        <button class="btn btn-action" routerLink="/existingcompack"><mat-icon>add_circle_outline</mat-icon>Add Elements</button>
        <button class="btn btn-action"routerLink="/upgrade"><mat-icon>trending_up</mat-icon>Upgrade Pack</button>
        <button class="btn btn-action"routerLink="/licence"><mat-icon>loop</mat-icon>Renew Licence</button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="2">Product name</th>
                <th colspan="1">Serial number</th>
                <th colspan="1"></th>
                <th colspan="1">Date code</th>
                <th colspan="1">VCI serial number</th>
                <th colspan="1">Under warranty</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2"><button (click)="toggleButtonState('material1')">
                  {{ buttonStates['material1'] ? '-' : '+' }}
                </button> Bundle MD360-Advanced/104023</td>
                <td colspan="1">123450</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1">[ADN network mode]</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th colspan="1"></th>
                <th colspan="1">  <button (click)="toggleButtonState('material2')">
                  {{ buttonStates['material2'] ? '-' : '+' }}
                </button> Material Component</th>
                <th colspan="1">Product name</th>
                <th colspan="1">Serial number</th>
                <th colspan="1"></th>
                <th colspan="1">Date code</th>
                <th colspan="1">Warranty end date</th>
              </tr>
            </thead>
            <tbody *ngIf="buttonStates['material2']">
              <tr>
                <th colspan="1"></th>
                <td colspan="1"></td>
                <td colspan="1">VCI Cars Passthru XS 2 Bluetooth/104024</td>
                <td colspan="1">150023</td>
                <td colspan="1"></td>
                <td colspan="1">11-20</td>
                <td colspan="1">2024-11-20</td>
              </tr>
              <tr>
                <th colspan="1"></th>
                <td colspan="1">
                
                </td>
                <td colspan="1">TABLET XL / 185618</td>
                <td colspan="1">1N0054498</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1">2025-07-15</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th colspan="1"></th>
                <th colspan="1">  <button (click)="toggleButtonState('licence1')">
                  {{ buttonStates['licence1'] ? '-' : '+' }}
                </button> Licence</th>
                <th colspan="1">Product name</th>
                <th colspan="1">Invoice ID</th>
                <th colspan="1">Activated [MANUAL]</th>
                <th colspan="1">[Subscription Duration] End date</th>
                <th colspan="1">Major Version</th>
              </tr>
            </thead>
            <tbody *ngIf="buttonStates['licence1']">
              <tr>
                <th colspan="1"></th>
                <td colspan="1">
                </td>
                <td colspan="1">HaynesPro License - Business [SUSP]</td>
                <td colspan="1">+ABR</td>
                <td colspan="1">Yes</td>
                <td colspan="1">2024-03-01</td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th colspan="1"></th>
                <td colspan="1">

                </td>
                <td colspan="1">Practical Cases License</td>
                <td colspan="1"></td>
                <td colspan="1">No</td>
                <td colspan="1">2025-03-01</td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th colspan="1"></th>
                <td colspan="1">
                  
                </td>
                <td colspan="1">SOFTWARE ASSISTANCE - PRO</td>
                <td colspan="1"></td>
                <td colspan="1">No</td>
                <td colspan="1">2025-03-17</td>
                <td colspan="1"></td>
              </tr>
            </tbody>
            <tbody >
              <tr>
                <td colspan="2"> <button (click)="toggleButtonState('licence2')">
                  {{ buttonStates['licence2'] ? '-' : '+' }}
                </button>TABLET XL / 185618 </td>
                <td colspan="1">1258966</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1">[ADN network mode]</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th colspan="1"></th>
                <th colspan="1">  <button (click)="toggleButtonState('material3')">
                  {{ buttonStates['material3'] ? '-' : '+' }}
                </button>Material Component</th>
                <th colspan="1">Product name</th>
                <th colspan="1">Serial number</th>
                <th colspan="1"></th>
                <th colspan="1">Date code</th>
                <th colspan="1">Warranty end date</th>
              </tr>
            </thead>
            <tbody *ngIf="buttonStates['material3']">
              <tr>
                <th colspan="1"></th>
                <td colspan="1">
                 
                </td>
                <td colspan="1">Guided method license</td>
                <td colspan="1">211147</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th colspan="1"></th>
                <td colspan="1">
                 
                </td>
                <td colspan="1">SOFTWARE ASSISTANCE - PRO</td>
                <td colspan="1">147789</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1">2024-09-05</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th colspan="1"></th>
                <th colspan="1">
                  <button (click)="toggleButtonState('licence3')">
                    {{ buttonStates['licence3'] ? '-' : '+' }}
                  </button> Licence
                </th>
                <th colspan="1">Product name</th>
                <th colspan="1">Invoice ID</th>
                <th colspan="1">Activated [MANUAL]</th>
                <th colspan="1">[Subscription Duration] End date</th>
                <th colspan="1">Major Version</th>
              </tr>
            </thead>
            <tbody *ngIf="buttonStates['licence3']">
              <tr>
                <th colspan="1"></th>
                <td colspan="1"></td>
                <td colspan="1">HaynesPro License - Business [SUSP]</td>
                <td colspan="1">+ABR</td>
                <td colspan="1">Yes</td>
                <td colspan="1">2024-03-01</td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th colspan="1"></th>
                <td colspan="1"></td>
                <td colspan="1">MD Cars License [MD360]</td>
                <td colspan="1"></td>
                <td colspan="1">yes</td>
                <td colspan="1">2022-04-01</td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th colspan="1"></th>
                <td colspan="1"></td>
                <td colspan="1">SOFTWARE ASSISTANCE - PRO</td>
                <td colspan="1"></td>
                <td colspan="1">yes</td>
                <td colspan="1">2024-04-17</td>
                <td colspan="1"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>