$primary-color: #686A6D;

.btn {
  color: white;
  font-size: 13px;
  padding: 6px 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Add right margin for spacing */
  &:hover {
    background-color: #DFD3D3;
  }

  &:last-child {
    margin-right: 0; /* Remove margin from the last button */
  }
}

.btn-save {
  background-color: #BDD248;
}

.btn-cancel {
  background-color: #546472;
}

.mat-icon {
  font-size: 18px;
  margin-right: 5px;
}

.sales-contract {
  color: $primary-color;
  font-weight: normal;
  font-size: 1.4rem;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 5px;
  text-align: left; /* Align text to the left */
}

.line {
  height: 1px;
  width: 50%;
  background-color: $primary-color;
  margin-top: 3px;
  margin-bottom: 10px;
  align-self: flex-start; /* Align line to the left */
}

.container {
  max-width: 1800px;
  margin: 30px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-weight: bold;
    color: $primary-color; /* Set label color to grey */
    font-size: 14px;
    margin-bottom: 5px; /* Add some space between label and input */
  }

  input, select {
    padding: 6px; /* Decrease padding to make inputs smaller */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.8rem; /* Decrease font size of inputs */
    width: 60%;
  }
}

.table {
  th, td {
    font-weight: bold;
    color: $primary-color;
    font-size: 0.8rem;
    vertical-align: middle;
    padding: 0.5rem;
    text-align: left;
  }
}

.btn-action {
  background-color: white; /* Change to desired background color */
  color:#686A6D;
  font-size: 30px;
  padding: 6px 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 350px; /* Add right margin for spacing */
  margin-bottom: 10px; /* Add bottom margin for spacing */
  border: none;
  border-radius: 5px;
 

  &:last-child {
    margin-right: 0; /* Remove margin from the last button */
  }
}
.confirm-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.confirm-modal-content p {
  margin-bottom: 10px;
}

.confirm-modal-content .button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.confirm-modal-content button {
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-modal-content button:hover {
  background-color: #DFD3D3;
}