body {
    font-family: Arial, sans-serif;
}

.customer-file, .material-component, .licence-component {
    color: #686A6D;
    font-weight: normal;
    font-size: 1.4rem;
    margin-bottom: 10px;
    position: relative;
}

.customer-file h1 {
    font-size: 2rem;
    color: #333;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.subscription-duration {
    display: flex;
    align-items: center;
}

.subscription-duration-input {
    width: 80px;
    margin-right: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    margin-left: 10px;
    color: white;
    font-size: 13px;
    padding: 6px 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #DFD3D3;
}

.btn-save {
    background-color: #BDD248;
}

.btn-cancel {
    background-color: #546472;
}
