<!--<app-navbar></app-navbar>
<div class="container-fluid page" style="border: 1px solid #BDD248">
  <div class="d-flex page__box p-3 mt-2"></div>
  <div class="page__content shadow p-2 position-relative">
    <div class="left-panel" style="border: 0.5px solid #BDD248">-->
    <!---  <app-Agency-search (selectedAgency)="onAgencySelected($event)"<
      /app-Agency-search> -->
    <!--</div>
    <div class="right-panel" style="border: 0.5px solid #BDD248">
      <div class="button-container">
        <button class="btn btn-besoin" type="button" *ngIf="isEditingAgency">
          <mat-icon>delete</mat-icon> Supprimer
        </button>
        <button class="btn btn-besoin" type="button" (click)="cancelForm()" *ngIf="isAddingAgency || isEditingAgency">
          <mat-icon>cancel</mat-icon> Annuler
        </button>
        <button class="btn btn-besoin" (click)="toggleForm()">
          <mat-icon>add</mat-icon> Ajouter
        </button>
      </div>-->
      <!-- Affichage du formulaire d'ajout ou de modification -->
   <!--<app-agency-form
        *ngIf="isAddingAgency || isEditingAgency"
        [isAddingAgency]="isAddingAgency"
        [isEditingAgency]="isEditingAgency"
        [selectedAgency]="selectedAgency"
        [isEditable]="isEditable"
      ></app-agency-form>
    </div>
  </div>
</div>-->
