<!--<div id="formAjout" class="form-container">
    <form *ngIf="isAddingAgency || isEditingAgency">
      <div
        class="form-group"
        [ngClass]="{ 'has-data': hasData(formData.agency) }"
      >
        <label for="agency">
          <mat-icon>business</mat-icon> Agency
        </label>
        <select
          id="agency"
          name="agency"
          [(ngModel)]="formData.agency"
          [disabled]="!isEditable"
        >
          <option>Agence 1</option>
          <option>Agence 2</option>
          <option>Agence 3</option>
        </select>
      </div>
  
      <div
        class="form-group"
        [ngClass]="{ 'has-data': hasData(formData.profile) }"
      >
        <label for="profile">
          <mat-icon>person</mat-icon> Profile
        </label>
        <select
          id="profile"
          name="profile"
          [(ngModel)]="formData.profile"
          [disabled]="!isEditable"
        >
          <option>Profil 1</option>
          <option>Profil 2</option>
          <option>Profil 3</option>
        </select>
      </div>
  
      <div
        class="form-group"
        [ngClass]="{ 'has-data': hasData(formData.lastName) }"
      >
        <label for="lastName">
          <mat-icon>person</mat-icon> Last name
        </label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          [(ngModel)]="formData.lastName"
          [disabled]="!isEditable"
        />
      </div>
  
      <div
        class="form-group"
        [ngClass]="{ 'has-data': hasData(formData.firstName) }"
      >
        <label for="firstName">
          <mat-icon>person</mat-icon> First name
        </label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          [(ngModel)]="formData.firstName"
          [disabled]="!isEditable"
        />
      </div>
  
      <div
        class="form-group"
        [ngClass]="{ 'has-data': hasData(formData.Agencyname) }"
      >
        <label for="Agencyname">
          <mat-icon>person</mat-icon> Agencyname
        </label>
        <input
          type="text"
          id="Agencyname"
          name="Agencyname"
          [(ngModel)]="formData.Agencyname"
          [disabled]="!isEditable"
        />
      </div>
  
      <div
        class="form-group"
        [ngClass]="{ 'has-data': hasData(formData.accountEnabled) }"
      >
        <label for="accountEnabled">
          <mat-icon>done</mat-icon> Account enabled
        </label>
        <select
          id="accountEnabled"
          name="accountEnabled"
          [(ngModel)]="formData.accountEnabled"
          [disabled]="!isEditable"
        >
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
  
      <div class="form-group">
        <div class="button-container"> -->
          <!-- Bouton pour modifier ou enregistrer -->
        <!--- <button
            class="btn btn-primary"
            type="button"
            (click)="isEditable ? saveChanges() : enableEdit()"
          >
            {{ isEditingAgency ? "Modifier" : "Enregistrer" }}
            <mat-icon>{{ isEditingAgency ? "edit" : "save" }}</mat-icon>
          </button> ---> 
          <!-- Bouton Enregistrer -->
          <!--<button
            class="btn btn-primary"
            type="button"
            *ngIf="isEditingAgency"
            (click)="saveChanges()"
          >
            Enregistrer
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>---> 
  
  
  <!-- Contenu de la popup de sélection du transporteur -->
  <ng-template #transportDialogTemplate>
    <!-- Ajoutez le contenu de la popup de sélection du transporteur si nécessaire -->
  </ng-template>
  
  <!-- Tableau -->
  <div
    class="table-responsive"
    style="max-height: 300px; overflow-y: auto"
    *ngIf="showTable"
  >
    <!-- Ajoutez le contenu du tableau si nécessaire 
    <table class="table" style="width: 100%; table-layout: auto">
      <thead>
        <tr>
          <th></th>
          <th>Colonne 1</th>
          <th>Colonne 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">1</a></td>
          <td>Donnée 1</td>
          <td>Donnée 2</td>
        </tr>
      </tbody>
    </table>
    </table> -->
  </div>
  