<h2 class="customer-file">Customer file:</h2>

<div id="formAjout" class="form-container">
  <form *ngIf="isAddingCustomer || isEditingCustomer">
    <div
    class="form-group"
    [ngClass]="{ 'has-data': hasData(formData.ActiaCustomerID) }"
  >
  <label for="ActiaCustomerID ">
    Actia customer ID:
  </label>
  <input
    type="text"
    id="ActiaCustomerID "
    name="ActiaCustomerID "
    [(ngModel)]="formData.ActiaCustomerID "
    [disabled]="!isEditable"
    class="form-control"
  />
</div>

<div id="formAjout" class="form-container">
    <form *ngIf="isAddingCustomer || isEditingCustomer">
      <div
      class="form-group"
      [ngClass]="{ 'has-data': hasData(formData.AgentCustomerID) }"
    >
    <label for="AgentCustomerID ">
        AgentCustomerID:
    </label>
    <input
      type="text"
      id="AgentCustomerID "
      name="AgentCustomerID "
      [(ngModel)]="formData.AgentCustomerID "
      [disabled]="!isEditable"
      class="form-control"
    />
  </div>

  <div id="formAjout" class="form-container">
    <form *ngIf="isAddingCustomer || isEditingCustomer">
      <div
      class="form-group"
      [ngClass]="{ 'has-data': hasData(formData.CustomerStatus) }"
    >
    <label for="CustomerStatus">
        Customer status:
    </label>
    <input
      type="text"
      id="CustomerStatus"
      name="CustomerStatus "
      [(ngModel)]="formData.CustomerStatus"
      [disabled]="!isEditable"
      class="form-control"/>
    </div>

    <div id="formAjout" class="form-container">
        <form *ngIf="isAddingCustomer || isEditingCustomer">
          <div
          class="form-group"
          [ngClass]="{ 'has-data': hasData(formData.CompanyName) }"
        >
        <label for="CompanyName">
            Company name *:
        </label>
        <input
          type="text"
          id="CompanyName"
          name="CompanyName"
          [(ngModel)]="formData.CompanyName"
          [disabled]="!isEditable"
          class="form-control"/>
        </div>

        <div id="formAjout" class="form-container">
            <form *ngIf="isAddingCustomer || isEditingCustomer">
              <div
              class="form-group"
              [ngClass]="{ 'has-data': hasData(formData.ZipCode) }"
            >
            <label for="ZipCode">
                Zip code *:
            </label>
            <input
              type="text"
              id="ZipCode"
              name="ZipCode"
              [(ngModel)]="formData.ZipCode"
              [disabled]="!isEditable"
              class="form-control"/>
            </div>
       
            <div id="formAjout" class="form-container">
                <form *ngIf="isAddingCustomer || isEditingCustomer">
                  <div
                  class="form-group"
                  [ngClass]="{ 'has-data': hasData(formData.Agency) }"
                >
                <label for="Agency">
                    Agency:
                </label>
                <input
                  type="text"
                  id="Agency"
                  name="Agency"
                  [(ngModel)]="formData.Agency"
                  [disabled]="!isEditable"
                  class="form-control"/>
                </div>

       
            <div id="formAjout" class="form-container">
                 <form *ngIf="isAddingCustomer || isEditingCustomer">
                      <div
                      class="form-group"
                  [ngClass]="{ 'has-data': hasData(formData.DistributorCategory) }"
                    >
                    <label for="Agency">
                        Distributor Category:
                    </label>
                    <input
                      type="text"
                      id="Agency"
                      name="Agency"
                      [(ngModel)]="formData.DistributorCategory"
                      [disabled]="!isEditable"
                      class="form-control"/>
                    </div>
 

          <div id="formAjout" class="form-container">
                        <form *ngIf="isAddingCustomer || isEditingCustomer">
                             <div
                             class="form-group"
                         [ngClass]="{ 'has-data': hasData(formData.DistributorCategory) }"
                           >
                           <label for="Agency">
                               Distributor Category:
                           </label>
                           <input
                             type="text"
                             id="Agency"
                             name="Agency"
                             [(ngModel)]="formData.DistributorCategory"
                             [disabled]="!isEditable"
                             class="form-control"/>
                           </div>


             <div id="formAjout" class="form-container">
                 <form *ngIf="isAddingCustomer || isEditingCustomer">
                          <div
                         class="form-group"
                        [ngClass]="{ 'has-data': hasData(formData.Distributor) }"
                               >
                         <label for="Agency">
                                   Distributor:
                             </label>
                            <input
                                 type="text"
                                 id="Agency"
                                 name="Agency"
                                 [(ngModel)]="formData.Distributor"
                                 [disabled]="!isEditable"
                                 class="form-control"/>
                               </div>
         
            <div id="formAjout" class="form-container">
                 <form *ngIf="isAddingCustomer || isEditingCustomer">
                             <div
                            class="form-group"
                         [ngClass]="{ 'has-data': hasData(formData.Network) }"
                                              >
                        <label for="Agency"> 
                            Network
                                            </label>
                                           <input
                                                type="text"
                                                id="Network"
                                                name="Network"
                                                [(ngModel)]="formData.Network"
                                                [disabled]="!isEditable"
                                                class="form-control"/>
                                              </div>
                        
            
            

           
    
    
    
   


