$primary-color: #686A6D;

body {
  margin: 0; /* Set body margin to 0 for full-width content */
}

h3 {
  font-size: 1.6rem; /* Existing styles */
  font-weight: normal;
  margin-bottom: 1.2rem;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #546472 ;
  color: #546472;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 200;
}

.container {
  max-width: 850px;
  margin: 20px }
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
    color: #686A6D;
    font-size: 0.9rem;
    margin-right: 160px;
  }
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
    &.empty {
      border-left: 10px solid rgb(6, 100, 6);
    }
    &.invalid {
      border-left: 10px solid red;
    }
    &:disabled {
      border-left: 10px solid rgb(6, 100, 6);
    }
  }
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
    &.empty {
      border-left: 10px solid rgb(6, 100, 6);
    }
    &.invalid {
      border-left: 10px solid red;
    }
    &:disabled {
      border-left: 10px solid rgb(6, 100, 6);
    }
  }
  button {
    width: 30%;
    padding: 4px;
    font-size: 0.8rem;
    border-radius: 5px;
    background-color: #595F66;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #C5C7CA;
    }
  }

.alert {
  background-color: #D1ECF1;
  color: #0C5460;
  padding: 10px;
  margin-bottom: 10px;
}
.alert-error {
  background-color: #F8D7DA;
  color: #721C24;
  padding: 10px;
  margin-bottom: 10px;
}
.table-responsive {
  tr.selected {
    background-color: #CFE5FA;
    border-left: 0.5em solid #BDD248;
  }
  th, td {
    font-weight: bold;
    color: #686A6D;
    font-size: 0.8rem;
    vertical-align: middle;
  }
}
.buttons {
  margin-bottom: 20px;
}
.pagination-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  .pagination-left, .pagination-right {
    font-weight: normal;
    font-size: 0.8rem;
    text-align: left;
  }
}







