<app-navbar></app-navbar>

<div class="contract-info">

  <h3 class="sales-contract">Sale's Contract</h3>

  <div class="card mb-3">
    <div class="card-body">
      <div class="row align-items-end mb-3">
        <div class="col">
          <label for="creationDate">Creation date</label>
          <input type="date" id="creationDate" class="form-control" [(ngModel)]="contract.creationDate">
        </div>
        <div class="col">
          <label for="username">Username</label>
          <input type="text" id="username" class="form-control" [(ngModel)]="contract.username" disabled>
        </div>
        <div class="col-auto">
          <button class="btn btn-success" (click)="validateContract()">Validate</button>
          <button class="btn btn-danger" (click)="cancelContract()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <h3 class="sales-contract">Customer information</h3>

  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <label for="companyName">Company name</label>
            <input type="text" id="companyName" class="form-control" [(ngModel)]="contract.companyName">
          </div>
          <div class="col">
            <label for="contactName">Contact name</label>
            <input type="text" id="contactName" class="form-control" [(ngModel)]="contract.contactName">
          </div>
          <div class="col">
            <label for="zipCode">Zip code</label>
            <input type="text" id="zipCode" class="form-control" [(ngModel)]="contract.zipCode">
          </div>
          <div class="col">
            <label for="phone">Phone number</label>
            <input type="tel" id="phone" class="form-control" [(ngModel)]="contract.phone">
          </div>
          <div class="col">
            <label for="country">Country</label>
            <input type="text" id="country" class="form-control" [(ngModel)]="contract.country">
          </div>
          <div class="col">
            <label for="email">E-mail</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="contract.email">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-3">
        <div class="col">
          <a routerLink="/new-pack" class="btn btn-outline-primary">New pack</a>
          <a routerLink="/add-element" class="btn btn-outline-secondary">Add element</a>
          <a routerLink="/upgrade-pack" class="btn btn-outline-success">Upgrade pack</a>
          <a routerLink="/renew-license" class="btn btn-outline-warning">Renew license</a>
          <a routerLink="/make-gift" class="btn btn-outline-info">Make a gift</a>
        </div>
      </div>
    </div>
  </div>
</div>